.App {
    margin: 0;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    background-color: bisque;
    display: flex;
    margin: 1em;
    width: 80%;
    border-radius: 30px;
    padding: 2em;
}

.profile-img {
    width: 8em;
    padding: 1em;
    border-radius: 20%;
}

.buttons-div {
    display: flex;
}